<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Admin. Rocksell</title>
    <!-- vue -->
    <script src="https://unpkg.com/vue"></script>

    <!-- axios -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.17.1/axios.min.js"></script>
    
    <!-- Bootstrap -->
    <link href="assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/signin.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">
  </head>
  <body>
    <div id="app">
      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Dashboard</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/login.html">Dashboard</a></li>
              <li><a class="logout" @click="logout()" href="#">Logout</a></li>
            </ul>
          </div>
        </div>
      </nav>

      <!-- Modal -->
      <div id="transaction" class="modal fade" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Transaction</h4>
            </div>
            <div class="modal-body" v-for="t in transaction">
              <div class="row header_trans">
                <div class="col-md-3">
                  Transaction no:
                </div>
                <div class="col-md-4">
                  {{ t._id }}
                </div>
                <div class="col-md-4">
                  {{ t.createdAt }}
                </div>
              </div>
              <div class="row data_trans" v-for="(r,i) in t.receipt" >
                <div class="col-md-1">
                  {{ i+1 }}
                </div>
                <div class="col-md-3">
                  {{ r.name }}
                </div>
                <div class="col-md-1">
                  {{ r.qty }}
                </div>
                <div class="col-md-3 right_align">
                  {{ r.priceidr }}
                </div>
                <div class="col-md-3 right_align">
                  {{ r.totalitem }}
                </div>
              </div>
              <div class="row footer_trans">
                <div class="col-md-8 grand_total">
                  Grandtotal
                </div>
                <div class="col-md-3 grand_total_value right_align">
                  {{ t.grandtotal }}
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>

        </div>
      </div>

      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
              <li class="active"><a href="#" @click='modeAdd'>Add item <span class="sr-only">(current)</span></a></li>
              <li><a data-toggle="modal" data-target="#transaction" href="" v-on:click="gettransaction">History Transaction</a></li>
            </ul>
          </div>
          <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

            <!-- form add item here -->
            <div class="row">
                  <legend>{{ legend }}</legend>
                  <div class="form-group">
                    <fieldset disabled="">
                      <label class="control-label" for="itemid">id</label>
                      <input v-model="itemid" class="form-control" id="itemid" disabled="" type="text">
                    </fieldset>
                  </div>
                  <div class="form-group">
                    <label for="name">Item Name</label>
                    <input v-model="name" class="form-control" id="name" ref="name" placeholder="Item Name" type="text">
                  </div>
                  <div class="form-group">
                    <label for="image">Image Link</label>
                    <input v-model="image" class="form-control" id="image" placeholder="Image Link" type="text">
                  </div>
                  <legend>Specification</legend>
                  <div class="form-group col-md-6">
                    <label for="spec1key">Specification Name 1</label>
                    <input v-model="spec1key" class="form-control" id="spec1key" placeholder="Specification Name" type="text">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="spec1value">Value</label>
                    <input v-model="spec1value" class="form-control" id="spec1value" placeholder="Specification Value" type="text">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="spec1key">Specification Name 2</label>
                    <input v-model="spec2key" class="form-control" id="spec2key" placeholder="Specification Name" type="text">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="spec1value">Value</label>
                    <input v-model="spec2value" class="form-control" id="spec2value" placeholder="Specification Value" type="text">
                  </div>
                  <div class="form-group">
                    <label for="category">Catagory</label>
                    <input v-model="category" class="form-control" id="category" placeholder="Category" type="text">
                  </div>
                  <div class="form-group">
                    <label for="priceidr">Price</label>
                    <input v-model="priceidr" class="form-control" id="priceidr" placeholder="Price idr" type="text">
                  </div>
                  <div class="form-group">
                    <button v-on:click="postNewItem" form="form" type="submit" value="Submit" class="btn btn-primary">{{ buttonlegend }}</button>
                  </div>
            </div>
            
            <!-- list of item here -->
            <h2 class="sub-header">Item List</h2>
            <item-list :items="itemList" @populate-item="populates"/>

            <!-- end list item -->
          </div>
        </div>
      </div>
    </div>
    <!-- vue instance -->
    <script src="assets/js/itemlist.js"></script>
    <script>
    var vue = new Vue ({
      el: '#app',
      data: {
        legend: 'Add Item',
        buttonlegend: 'Submit',
        transaction: [],
        itemList: [],
        itemid: "",
        name: "",
        image: "",
        category: "",
        priceidr: "",
        spec1key: null,
        spec1value: null,
        spec2key: null,
        spec2value: null,
        pos: ''
      },
      methods: {
        postNewItem: function(){
          if(this.itemid == ""){
            axios.post('http://vps.masfaris.com:3000/api/shop/additem/', {
              itemName: this.name,
              image: this.image,
              spec1key: this.spec1key,
              spec1value: this.spec1value,
              spec2key: this.spec2key,
              spec2value: this.spec2value,
              category: this.category,
              priceidr: this.priceidr
            })
            .then((response)=>{
              this.itemList.push(response.data.item)
              alert("Add success!");
              this.modeAdd()
            })
            .catch((error)=>{
              console.log(error);
            });
            } else {
              console.log('masuk di edit');
              axios.put('http://vps.masfaris.com:3000/api/shop/item/'+this.itemid, {
                name: this.name,
                image: this.image,
                spec1key: this.spec1key,
                spec1value: this.spec1value,
                spec2key: this.spec2key,
                spec2value: this.spec2value,
                category: this.category,
                priceidr: this.priceidr
              })
              .then((response)=>{
                console.log(response.data.after);
                this.itemList.splice(this.pos,1,response.data.after)
                alert("Edit success!");
                this.modeAdd()
              })
              .catch((error)=>{
                console.log(error);
              });
          }
        },
        populates: function(payload){
          this.itemid = payload.item._id
          this.name = payload.item.itemName
          this.image = payload.item.image
          this.category = payload.item.category
          this.priceidr = payload.item.priceidr
          this.spec1key = Object.keys(payload.item.specification[0])[0]
          this.spec1value = Object.values(payload.item.specification[0])[0]
          this.spec2key = Object.keys(payload.item.specification[1])[0]
          this.spec2value = Object.values(payload.item.specification[1])[0]
          this.legend = 'Edit Item'
          this.buttonlegend = 'Edit'
          this.pos = payload.i
        },
        getitem: function(){
          axios.get('http://vps.masfaris.com:3000/api/shop/item')
          .then(response=>{
            this.itemList = response.data
          }).catch(err=>{
            console.error();
          })
        },
        gettransaction: function(){
          axios.get('http://vps.masfaris.com:3000/api/shop/transaction')
          .then(response=>{
            console.log(response.data);
            this.transaction = response.data
          }).catch(err=>{
            console.error();
          })
        },
        updateLegend: function(){
          this.legend = 'Edit Item'
          this.buttonlegend = 'Edit'
        },
        logout: function() {
          localStorage.removeItem('islogin');
          location.reload(); 
        },
        checklogin: function (){
          if(!localStorage.getItem("islogin")){
            window.location.replace("login.html");
            // $('.container').empty();
            // $('.container').load('assets/template/admin.html')
          }
        },
        modeAdd: function(){
          this.itemid = ''
          this.name = ''
          this.image = ''
          this.category = ''
          this.priceidr = ''
          this.spec1key = ''
          this.spec1value = ''
          this.spec2key = ''
          this.spec2value = ''
          this.legend = 'Add Item'
          this.buttonlegend = 'Submit'
        }
      },
      created() {
        this.checklogin();
        this.getitem();
      }
    })
    
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.17.1/axios.min.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>    

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> -->
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!-- <script src="assets/bootstrap/js/bootstrap.min.js"></script> -->
  </body>
</html>